.theme-dark {
    color: #000000;
}

.theme-light {
    color: #ffffff;
}



.search-box {
    box-shadow:none !important;
    background-color: $dark-text-em;
    border-radius: 1% !important;
}

.article.card {
    height: 100%;
    padding: 15px;
    color: $dark-text-sf !important;
    border-radius: 15px;
    text-decoration: none!important;
    background-color: $secondary-dark;
    border-color: $secondary-dark !important;
    box-shadow: 0px 6px 3px 0px $secondary-dark;
    
    .card-footer {
        color: $dark-text-sf !important;
        font-size: 14px;
        margin: 0 -15px -15px -15px;
        padding: 15px 35px;
    }
}

.article.card:hover {
    background-color: #303138;
    box-shadow: 0px 6px 3px 0px $secondary-dark;
    border-color: rgba($color: #1f2025fb, $alpha: 1);
}

.article {
    .badge {
        color: black;
        border-color: black;
        font-weight: bold;
        font-size: 80%;
        background-color: rgba($color: $primary, $alpha: .65);
    }

    .article-metadata {
        font-size: 16px;
        margin-top: -6px;
    }

    footer {
        font-size: 10px;
        color: $dark-text-sf;
        text-decoration: underline;
        text-decoration-color: rgba($color: $success, $alpha: .75);
        text-align: right;
        margin-top: 4em;
        margin-right: 2em;
    }
    
    h1 {
        text-align: center;
    }

    h2 { 
        margin-top: 32px; 
        text-align: center;
    }

    hr { 
        background: $accent; 
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;    
        margin: 1rem auto;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;
        width: 100%;
        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    a:not(.btn):not([class^="carousel-"]):not([class^="list-"]) {
        display: inline-block;
        text-decoration: none;

        &:hover { color: $primary; }

        &::after {
            content: '';
            display: block;
            height: .15em;
            margin-top: -.15em;
            width: 0;
            background: $primary;
            transition: width .35s;
        }

        &:hover::after { width: 100%; }
    }

    pre {
        color: #e4f0fb;
        background: #232937;
        border: 1px solid rgba($color: $accent, $alpha: .5);
 
        font-family: monospace;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1.6em;
        max-width: 100%;
        padding: 1em 1.5em;
        display: block;
        page-break-inside: avoid;
        overflow: auto;
        word-wrap: break-word;
    }

    code.highlighter-rouge {
        background-color: $light;
        color: $dark;
        border-radius: 3px;
        margin: 0;
        padding: .2em .65em;
    }

    blockquote {
        border-left: .25em solid $primary;
        color: $secondary;
        padding: 0 1em;
    }
      
    table {
        display: block;
        overflow-x: auto;
        margin: 1rem 0;

        td {
            border: 1px solid #ddd;
            padding: 8px 16px;
        }

        th {
            @extend td;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: 500;
            text-align: left;
            background-color: $primary;
            color: white;
        }

        tr:nth-child(even) {
            background-color: $light;
        }
        
    }
}

/*Styling for all itch io content embeds.*/
.itch-embeds {
    height: 0;
    text-align: center;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #0000004e;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

/*Styling for all video content embeds.*/
.video-display {
    height: 0;
    text-align: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;	
    box-shadow: 0px 0px 10px #0000004e;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}


/*Styling for all sketchfab embeds.*/
.sketchfab-embed-wrapper {
    height: 0;
    text-align: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;	
    box-shadow: 0px 0px 15px #0000004e;

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}