.social-links {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Styling for all video content embeds on the site.*/
.video-display {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-display iframe {
  	position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
}